<header class="business-header2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="tagline">Chimal Circus Arts</h1>
      </div>
    </div>
  </div>
</header>
<h1>Camp Page</h1>
CAMP
<h2>ASK US ABOUT BRINGING OUR CAMP TO YOUR LOCATION!</h2>
<p>
  Campers will experience the true circus atmosphere by learning routines of various disciplines. Campers will work under a circus tent and study the basic skills of circus arts. They are given the opportunity to challenge themselves, while at the same
  time having fun. Fitness, Agility, Balance, Strength, Self-Confidence and Coordination are the side products of the circus.
</p>

<h3>WHAT WE TEACH</h3>
<p>
  Unicycles Juggling Tight Wire Face painting & Balloon Art Trapeze Aerial Arts Gymnastics Stilts Hula Hoops Acrobatics/Tumble Track Bungee Trampoline & Many Other Activities!
</p>
