<%= render 'shared/header' %>
<hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>Circus Isn’t What We Do. It’s Who We Are!</h2>
                <p>
                  Students will experience the true circus atmosphere
                  by learning routines of various disciplines. All circus
                  arts activities are taught by real circus professionals.
                  Fitness, Agility, Balance, Strength, Self-Confidence and
                  Coordination are the side products of the circus. Students
                  will work under a circus tent and study the basic skills of
                  circus arts. They are given the opportunity to challenge
                  themselves, while at the same time having fun.
                </p>

                <p>
                    <a class="btn btn-default btn-lg" href="#">Call to Action &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Chimal Circus Arts</strong>
                    <br>17527 Bamwood Dr.
                    <br>Houston, TX 77090
                    <br>Email: chimalcircusarts@hotmail.com
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>Phone: 281-755-6363
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">chimalcircusarts@hotmail.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://chimalcircusarts.com/wp-content/uploads/2015/02/DSC06145.jpg" alt="">
                <h2>Marketing Box #1</h2>
                <p>We provide:

Classes At Our Facility As Well As At Schools
Spring Break & Summer Camp
Mobile Circus Arts Program For Any Event, School, Daycare, & Camp
Entertainment For Private Parties & Corporate Events
Rental Of Our Circus Arts Facility With Package Options Available</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://chimalcircusarts.com/wp-content/uploads/2015/02/chimal-neon-show.jpg" alt="">
                <h2>Marketing Box #2</h2>
                <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://chimalcircusarts.com/wp-content/uploads/2015/02/ALEX-JUGGLER1.jpg" alt="">
                <h2>Marketing Box #3</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>
