<p id="notice"><%= notice %></p>

<h1>Listing Photos</h1>
<!-- Projects Row -->
<div class="row">
  <% @photos.each do |photo| %>
    <div class="col-md-3 portfolio-item">
      <a href="/photos/<%= photo.id %> ">
        <%= image_tag photo.image.url(:image_index) %>
      </a>
    </div>
  <% end %>
</div>
<!-- /.row -->
